/FactoryParametrisada/nbproject/private/
/FactoryParametrisada/build/
/BuilderPizza/build/
/AdapterDesingPatter/nbproject/private/
/AdapterDesingPatter/build/
/AbstractFactory-Discos/nbproject/private/
/Prototype/nbproject/private/
/Prueba1/nbproject/private/
/Prueba2/nbproject/private/
/Prueba2/build/
/BridgeMethod/nbproject/private/
/build/
/nbproject/private/
/abstractfactoryPrueba/build/
/abstractfactoryPrueba/nbproject/private/
/Agudo_Dayana_Interciclo/Agudo_Dayana_Interciclo/build/
/Agudo_Dayana_Interciclo/Agudo_Dayana_Interciclo/nbproject/private/